extends common/layout
block content
  style.
    .Diary-content img{
      width:150px; 
     }
  div(class="container")
    div(class='div-fluid show-grid')
      div(class='row')
          div(class='span8')
            if(!session.is_login)
              div(class='well row')
                h4 总有一些不经意的时光，需要被镌刻.
                h5 此时已有#{usersCount}位朋友创建了#{noteCount}本日记, 写下了#{diariesCount}件小事，#{privacyCount}个秘密，#{todoCount}条心愿
            div(class='row')
              if(!session.is_login)
                h4 最新日记
              else
                h4 #{session.userdata.nick}的动态
              hr 
              if(diaries.length)
                div(class='Diary-wrap')
                  each item,i in diaries 
                    div(class='Diary-row')
                      div(class='Diary-left')
                       a(href='/user/profile/#{item.pageurl}',title='#{item.created_user}')
                         img(src='#{item.avatarUrl}',class="img-rounded",alt='#{item.created_user}')
                      div(class='Diary-right')
                       h5 
                         a(href="/diary/#{item.id}") #{item.created_user}的日记
                         if(item.title)
                           a(href="/diary/#{item.id}") 
                             small [#{item.title}]
                           a(href="/user/#{item.pageurl}/notebook/#{item.bookid}") 
                             small [#{item.bookname}] 
                         else
                           a(href="/user/#{item.pageurl}/notebook/#{item.bookid}") 
                             small [#{item.bookname}] 
                         if(item.weather)
                           small [天气:#{item.weather}] 
                         if(item.mood)
                           small [心情:#{item.mood}] 
                         if(item.location)
                           small [地点:#{item.location}] 
                       div(class='Diary-content')
                          if(item.img)
                           img(class="img-rounded",src='#{item.img}')
                          p !{item.content}
                       div(class='bar') #{item.created_at} 
                         small #{item.commentcount}回复 
                 !{pag}
              else
                p 您可以先关注一些用户，你自己的日记和他们的日记都会出现在你的时间线上。
          div(class='span4') 
            if(session.is_login)
              h4 欢迎回来,#{session.userdata.nick}!
              hr
            else
              div(class='well')
                include package/smallLogin
            if(session.is_login)
              div(id='J_UserBar')
                div(class='btn-group hot',id='J_UserBar')
                  a(class="btn btn-primary",href='/diary/write',title='写日记') 写日记
                  a(class="btn",href='#sayDialog',data-toggle="modal",title='说说') 说说
                  a(class="btn",href='/notebook',title='管理日记本') 管理日记本
                  a(class="btn",href='/todo',title='管理Todo') 管理TODO
              hr
            div(class='hot')
              span(style='font-size:18px;text-align:center;display:block;padding:10px;line-height:30px;background:#f9f9f9;color:#317eac;') #{countDownTime}
                br
                span(style='font-size:12px;') (GMT+8 GreenWich Mean Time)
            hr
            //
              div(class='hot')
                h4 公告 
                ul
                  li  
                    a(href="http://www.tuer.me/diary/3284",target="_blank") Android客户端问题反馈。
                  li  
                    a(href="http://www.tuer.me/diary/2474",target="_blank") 举报非法或广告日记。
                  li  
                    a(href="https://github.com/xiaojue/tuer.me/blob/master/docs/index.md",target="_blank") 兔耳API已上线。
                  li 
                    a(href="http://www.tuer.me/diary/1642",target="_blank") 头像更换不了的说明。
            include package/hot
            //
              hr
              div(class='hot')
                a(href="http://www.tuer.me/app/tr_V1.0.4.apk",target="_blank")
                  img(src="http://www.tuer.me/style/image/android.png",alt="兔耳android客户端")
            //
              hr
              a(href="http://www.chinesean.com/affiliate/clickBanner.do?wId=55139&pId=10769&cId=18489",target="_blank")
                img(src="http://img.chinesean.com/creative-image/2/20f9507d295142dca21777bf594a43a2-469530180",width="300",height="250",border="0")
              hr
              a(href="http://www.chinesean.com/affiliate/clickBanner.do?wId=55139&pId=10489&cId=14969",target="_blank")
                img(src="http://img.chinesean.com/creative-image/2/20f9507d295142dca21777bf594a43a2-678828346",width="300",height="250",border="0")
            hr
            script.
              google_ad_client = "ca-pub-7564906659770902";
              google_ad_slot = "9462119232";
              google_ad_width = 300;
              google_ad_height = 250;
            script(type="text/javascript",src="http://pagead2.googlesyndication.com/pagead/show_ads.js")
            //
              hr
              div(class='hot')
                <a href="http://www.duobei.com/group/8425134461" target="_blank"><img src="http://make-up.qiniudn.com/tuer.jpg" alt="彩妆交流" width="300"></a>
              hr
              div(class='hot')
                <a href="http://www.usbaba.com/?f=tuer" target="_blank"><img src="http://www.tuer.me/style/image/usbaba.jpeg" alt="usbaba"></a>
              hr
    include common/footer
  if(session.is_login)
    div(id="sayDialog",role="dialog",class="modal hide fade",tabindex="-1",aria-hidden="true",aria-labelledby="say")
      div(class="modal-body",style="text-align:left;")
        form(id="says",action="/say/save",method="post")
          p
           textarea(id="sayContent",name="content",class="form-control",row="2",style="width:490px;")
          p
           button(class="btn btn-primary",type="submit") 发送 
           &nbsp;还可以输入个 
           span(id="txt",style="color:red;")
           字符
    script.
      lithe.use('mods/index.min.js?t=20130320');
      $('#says').submit(function(){
         var content = $.trim($('#sayContent').val());
         if(content.length > 24 || content.length === 0){
          alert('不能超过24个字符或者为空');
          return false;
         }
      });
      function txt(){
         var content = $.trim($('#sayContent').val());
         $('#txt').text(24-content.length);
      }
      $('#sayContent').bind('keyup focus blur',function(){
         txt();
      });
      txt();
  script.
    $('.Diary-content img').each(function(){
        var bigimg = $(this).attr('src').replace(/\?.*$/,'') + '?w=-&h=-';
        $(this).wrap('<a class="fancybox" rel="group" href="'+bigimg+'">');
     });
     $('a.fancybox').fancybox({
        fitToView:false  
     });
    
